@import url(http://fonts.googleapis.com/css?family=Montserrat:400, 700);
body {
  color: #555;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.About{
  text-align:center;
}
#header {
  background-color: #1abc9c;
  height: 150px;
  line-height: 150px;
}
#header a {
  color: white;
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#header a:hover {
  color: #222;
}
#header-title {
  display: block;
  float: left;
  font-size: 20px;
  font-weight: bold;
}
#header-nav{
  display: block;
  float: right;
  margin-top: 0;
}
#header-nav li{
  display: inline;
  padding-left: 20px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
a {
color: #1abc9c;
text-dcoration: none;
}
a:hover{
  color: #F6A623;
}
.post {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}
.post-author img, .About-author img{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  border-radius: 50%;
}
.post-author span {
  margin-left: 16px
  margin
}
.post-date {
  color: #D2D2D2;

  font-size: 14px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#content .about-container{
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}
h1, h2, h3, h4 {
  color: #333;
}
p {
  line-height: 1.5;
}
#footer {
  background-color:#2f2f2f;
  padding: 50px 0;
}
#footer h4{
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p{
  color: white;
}
.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
.post-container:nth-child(an+b)
